.main {
  max-width: 1460px;
  margin: 148px auto;
  filter: drop-shadow(50px 50px 100px rgba(34, 34, 34, 0.06));
  // background-color: #fff;
  border-radius: 16px;
  .title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 64px;
    span {
      font-size: 48px;
      color: rgba(255, 255, 0, 1);
    }
  }
  .message {
    max-width: 888px;
    margin: 0 auto;
    padding: 48px;
    .picTitle {
      display: inline-block;
      font-size: 20px;
      color: rgba(255, 255, 0, 1);
      margin-bottom: 16px;
    }
    .uploadedPicWrapper {
      width: 100%;
      display: flex;
      align-items: center;
      height: 276px;
      border-radius: 16px;
      background-color: #000;
      padding: 16px;
      gap: 24px;
      margin-bottom: 48px;
      .right {
        img {
          width: 144px;
          height: 144px;
          border-radius: 16px;
          border: 2px solid #fff;
          object-fit: cover;
        }
      }
      .left {
        margin-top: -6px;
        display: flex;
        flex-direction: column;
        font-size: 24px;
        color: #fff;
        & > div {
          font-size: 20px;
          margin: 12px 0;
          .gray {
            color: rgba(255, 255, 255, 0.5);
          }
          span:nth-child(2) {
            display: inline-block;
            direction: ltr;
          }
        }
        button {
          font-size: 24px;
          background: rgba(255, 230, 0, 0.2);
          border: 2px solid #ffe600;
          border-radius: 16px;
          color: #ffe600;
          font-weight: 500;
          padding: 10px 32px;
          // height: 62px;
        }
      }
    }
    .btn {
      font-size: 24px;
      font-weight: 500;
      width: 217px;
      height: 62px;
      background: #ffe600;
      border: 2px solid #ffe600;
      border-radius: 16px;
      margin-top: 72px;
      &:hover {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.25)
          ),
          #ffe600;
        box-shadow: 24px 32px 32px rgba(34, 34, 34, 0.06);
      }
      img {
        width: 24px;
        height: 24px;
        margin-left: 16px;
        vertical-align: -4px;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .main {
    margin: 150px 24px;
    filter: unset;
    .title {
      margin-bottom: 32px;
      span {
        font-size: 24px;
      }
    }
    .message {
      padding: 24px;
      .btn {
        font-size: 16px;
        width: 100%;
        height: 48px;
        border-radius: 12px;
        margin-top: 24px;

        img {
          width: 16px;
          height: 16px;
          margin-left: 10px;
        }
      }
      .uploadedPicWrapper {
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 24px;
        .left {
          font-size: 20px;
          & > div {
            font-size: 16px;
            margin: 16px 0;
          }
          button {
            font-size: 20px;
            padding: 8px 24px;
          }
        }
      }
    }
  }
}